@import "./base/normalize";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/footer";

@import "./utils/variables";
@import "./utils/mixins";


/*****************/
/****** BEM ******/
/*****************/
    
.geolocation {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #EAEAEA;

  .geolocation__icon {
    margin-right: 16px;
  }

  .geolocation__title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.75px;
  }

  .geolocation__title--input {
    font-family: $text-font;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    background: none;
    min-width: 100px;
    width: 100px;
  }
  .geolocation__title--input:focus {
    border-bottom: 1px solid black;
  }
}
  
.discovery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-background;
  padding: 60px 5% 60px 5%;
  text-align: center;
  h3 {
    font-size: 18px;
    font-weight: 300;
  }
  &__btn--accueil {
    margin-top: 40px;
  }
}
  
.explain {
  .explain__step {
    background-color: #F6F6F6;
  }
}