@import "./base/normalize";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/footer";

@import "./utils/variables";
@import "./utils/mixins";


/*****************/
/***** GLOBAL ****/
/*****************/
    
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px 50px 20px;
}

.section--lightgrey {
  background-color: $grey-background;
}

/*****************/
/****** BEM ******/
/*****************/
    
.geolocation {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #EAEAEA;

  .geolocation__icon {
    margin-right: 16px;
  }

  .geolocation__title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.75px;
  }

  .geolocation__title--input {
    font-family: $text-font;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    background: none;
    min-width: 100px;
    width: 100px;
  }
  .geolocation__title--input:focus {
    border-bottom: 1px solid black;
  }
}

.discovery {
  align-items: center;
  text-align: center;

  h3 {
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
  }

  &__btn--accueil {
    margin-top: 40px;
  }
}
  
.explain {
  .explain__step {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    background-color: #F6F6F6;
    @include shadow-block;
    border-radius: 20px;
    height: 73px;
    margin-top: 20px;
    margin-left: 10px;

    .step {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $primary-color;
      color: white;
      font-weight: 500;
      font-size: 0.89rem;
      margin-right: 20px;
      margin-left: -10px;
    }

    img {
      margin-right: 20px;
    }
    .explain__text {
      font-size: 1rem;
      font-weight: 500;
      line-height: 18.75px;
    }
  }
}

.restaurants {
  .restaurants__cards {

  }

}