@import "./base/normalize";
@import "./base/typography";

@import "./components/buttons";
@import "./components/cards";
@import "./components/loaders";

@import "./layout/header";
@import "./layout/footer";

@import "./pages/home";
@import "./pages/menus";

@import "./utils/variables";
@import "./utils/mixins";


/*****************/
/***** GLOBAL ****/
/*****************/

/*** Consignes medias queries ***/

//The site is mobile-first. Here are the instructions for the media queries:
//Above 900px, display for tablets (in landscape mode).
//Above 1024px, leave blank spaces on the sides.

body {
  width: auto;
  overflow-x: hidden;

  a {
    color: inherit;
    text-decoration: none;
  }
  
  .main-container {
    width: 100%;
    box-sizing: border-box;
    @include flex-column;
    justify-content: center;
    
    .section {
      @include flex-column;
      justify-content: center;
      
      &--lightgrey {
        background-color: $section-background;
      }
      
      .sub-section {
        @include flex-column;
        justify-content: center;
        max-width: $max-width;
        box-sizing: border-box;
        @media screen and (min-width: $min-width) {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}