@import "../utils/variables";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #353535;
    padding: 22px 25px;
    color: white;
    &__title {
        font-family: $title-font;
        font-size: 1.13rem;
        line-height: 1.64rem;
        margin: 0px;
    }
    &__nav {
        ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        list-style: none;
        padding: 0px;
            li {
                font-weight: 500;
                img {
                    margin-right: 5px;
                } 
            }
        }
    }
}