// Header's informations, all pages

.header__home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 63px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .15);
  position : sticky;
  top: 0;
  z-index: 3;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 63px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .15);
  position : sticky;
  top: 0;
  z-index: 3;
  position: relative;
  
  .icon__arrow-left {
    visibility: visible;
    position: absolute;
    top: 38%;
    left: 25px; 
  }
}