// Header's informations, all pages

.header {
  @include flex-row;
  justify-content: center;
  align-items: center;

  height: 63px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .15);

  position : sticky;
  top: 0;
  z-index: 98;
}


.icon__arrow-left {
  position: absolute;
  top: 38%;
  left: 25px; 
}