// This file content all button's informations

@import "../utils/variables";
@import "../utils/mixins";


/** Main button **/
.btn {
    display: block;
    cursor: pointer;
    width: 260px;
    text-align: center;
    border-radius: 2em;
    padding: 18px 5px 18px 5px;
    font-family: $text-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    @include gradient(bottom, $list1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .25);
    transition: background-color 0.3s;
    
    a {
    color: white;
    text-decoration:none;
    }

    &:hover {
        @include gradient(bottom, $list1-lighten);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, .35);
    }
}


/** For tag new and futur tag **/
.tag__new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    background-color: $tertirary-color;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .15);
    color: #008766;
    font-family: $text-font;
    font-size: 0.88rem;
    font-weight: 500;
  }


/** Heart checkbox **/
.heart-checkbox {
    position: relative;
    cursor: pointer;

    .heart {
        position: absolute;
        top: -2px;
        left: -5px;
        width: 24px;
        height: 22px;
    }

    .checkbox:not(:checked) + .heart-empty,
    .checkbox:checked + .heart-empty + .heart-full {
        visibility: visible;
    }
    .checkbox:checked + .heart-empty,
    .checkbox:not(:checked) + .heart-empty + .heart-full {
        visibility: hidden;
    }
}