// This file is about cards design

@import "../utils/mixins";


/** Step cards, ex: home **/

.explain__step {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  background-color: #F6F6F6;
  @include shadow-block;
  border-radius: 20px;
  height: 73px;
  width: 100%;
  margin-top: 20px;
  
  .step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
    font-weight: 500;
    font-size: 0.89rem;
    margin-right: 20px;
    margin-left: -10px;
  }
  
  img {
  margin-right: 20px;
  }
  
  .explain__text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.75px;
  }
}

/** Restaurants card, ex: home **/

.restaurant__card {
  background-color: white;
  border-radius: 15px;
  position: relative;
  margin-top: 20px;
  @include shadow-block;
  
    img {
      border-radius: 15px 15px 0px 0px;
      height: 210px;
      width: 100%;
      object-fit: cover;
      object-position: 50% 100%;
      z-index: 1;
    }
  
    .restaurant__text {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content:space-between;
      align-items: center;
      padding: 15px;
      h3 {
        margin: 0px 0px 8px 0px;
      }
      p {
        font-size: 1.06rem;
        margin: 0px;
      }
      .heart-checkbox {
        position: relative;
        right: 20px;
        .heart__icon {
            position: absolute;
            top: -4px;
            left: -5px;
        }
        input[type="checkbox"] {
            visibility: hidden;
        }
        input[type="checkbox"]:checked + .heart__icon {
            background-color: #ff0000;
        }
      }
    }
  
    .tag__new {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 2;
    }
}

/** Menu card, ex: pages menus **/
.menu__card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  cursor: pointer;
  overflow: hidden;
  height: 69px;
  border-radius: 15px;
  margin-top: 1rem;
  @include shadow-block;

  .menu__card__item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .menu__text {
    justify-content: space-between;

    padding: 15px;
    gap: 5px;

    .menu__text--ellipsis {
        margin: 0px;
        /* Hide text if width is too small after click animation */
        max-width: 280px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: transform 250ms;
      }
  }

  .menu__price {
    justify-content: flex-end;
    
    font-weight: 700;
    margin-right: 20px;
    
    transition: transform 250ms;
  }

  .menu__order {
    justify-content: center;
    align-items: center;
    
    background: $tertirary-color;
    position: absolute;
    right: -60px;
    overflow: hidden;
    width: 59px;
    height: 100%;
    border-radius: 0px 15px 15px 0px;

    transform: translateX(0);
    transition: transform 250ms;
  }
}

.menu__card:active > .menu__order,
.menu__card:active > .menu__price {
  transform: translateX(-59px);
}

.menu__card:active .menu__text--ellipsis {
  max-width: calc(280px - 60px);
}