// This file is about cards design

@import "../utils/mixins";


/** Step cards, ex: home **/

.explain__step {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  background-color: #F6F6F6;
  @include shadow-block;
  border-radius: 20px;
  height: 73px;
  width: 100%;
  margin-top: 20px;
  
  .step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
    font-weight: 500;
    font-size: 0.89rem;
    margin-right: 20px;
    margin-left: -10px;
  }
  
  img {
  margin-right: 20px;
  }
  
  .explain__text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.75px;
  }
}

/** Restaurants card, ex: home **/

.restaurant__card {
    background-color: white;
    border-radius: 15px;
    position: relative;
    margin-top: 20px;
    @include shadow-block;
  
    img {
      border-radius: 15px 15px 0px 0px;
      height: 210px;
      width: 100%;
      object-fit: cover;
      object-position: 50% 100%;
      z-index: 1;
    }
  
    .restaurant__text {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content:space-between;
      align-items: center;
      padding: 15px;
      h3 {
        margin: 0px 0px 8px 0px;
      }
      p {
        font-size: 1.06rem;
        margin: 0px;
      }
      .heart-checkbox {
        position: relative;
        right: 20px;
        .heart__icon {
            position: absolute;
            top: -4px;
            left: -5px;
        }
        input[type="checkbox"] {
            visibility: hidden;
        }
        input[type="checkbox"]:checked + .heart__icon {
            background-color: #ff0000;
        }
      }
    }
  
    .tag__new {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 2;
    }
  }