// This file is about cards design

@import "../utils/mixins";

/*****************/
/*** STEP CARD ***/
/*****************/

// ex: index.html

.explain__step {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;

  background-color: #F6F6F6;
  @include shadow-block;
  border-radius: 20px;
  height: 73px;
  width: 100%;
  margin-top: 20px;
  
  .step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
    font-weight: 500;
    font-size: 0.89rem;
    margin-right: 20px;
    margin-left: -10px;
  }
  
  img {
  margin-right: 20px;
  }
  
  .explain__text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.75px;
  }
}


/*******************/
/* RESTAURANT CARD */
/*******************/

// ex: index.html

.restaurant__card {
  position: relative;
  margin-top: 20px;
  background-color: white;
  border-radius: 15px;
  @include shadow-block;
  
  .card_img {
    border-radius: 15px 15px 0px 0px;
    height: 210px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    z-index: 1;
  }

  .restaurant__text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
    h3 {
      margin: 0px 0px 8px 0px;
    }
    p {
      font-size: 1.06rem;
      margin: 0px;
    }
  }

  .tag__new {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 2;
  }

  a + .heart-checkbox {
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 2;
  }
  
}


/******************/
/*** MENUS CARD ***/
/******************/

// ex: menus pages **/

/** start card animation **/
@keyframes animation-card {
  0% {
    transform: translateX(9999px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }

}

.menu__card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  cursor: pointer;
  overflow: hidden; // Hide menu__order when no clic
  height: 69px;
  border-radius: 15px;
  margin-top: 1rem;
  @include shadow-block;

  animation: animation-card 3000ms cubic-bezier(.11,.52,.13,.99);
  animation-fill-mode: both;
  @for $i from 1 through 10 {
    &--#{$i} {
        animation-delay: 250ms * $i;
      }
    }

  .menu__card__item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .menu__text {
    justify-content: space-between;
    padding: 15px;
    gap: 5px;
    width: 100%;
    transition: transform 250ms;
    overflow: hidden; // Hide text if width is too small
    text-overflow: ellipsis;

    .menu__text--ellipsis {
        margin: 0px;
        white-space: nowrap;
        overflow: hidden; // Hide text if width is too small after click animation
        text-overflow: ellipsis;
      }
  }

  .menu__price {
    justify-content: flex-end;
    font-weight: 700;
    margin-right: 20px;
    transition: transform 250ms;
  }

  .menu__order {
    justify-content: center;
    align-items: center;
    background: $tertirary-color;
    position: absolute;
    right: -60px;
    overflow: hidden;
    width: 59px;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    transform: translateX(0);
    transition: transform 250ms;
  }

  /** start animation in card **/

  &:active > .menu__text,
  &:hover > .menu__text {
    width: 60%;
  }

  &:active > .menu__order,
  &:active > .menu__price,
  &:hover > .menu__order,
  &:hover > .menu__price {
    transform: translateX(-59px);
  }
}

