// This file content all main typographies's informations

@import "../utils/variables";

/*****************/
/*** MAIN TYPO ***/
/*****************/
h1 {
    font-family: $title-font;
    font-size: 1.75rem; 
    line-height: 2.55rem;
    font-weight: 400;
}

h2, h3, h4, h5, p, ul, ol {
    font-family: $text-font;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.76rem;
}

h3, h5 {
    font-size: 1.13rem;
    line-height: 1.32rem;
}

h4 {
    font-size: 1rem; 
    line-height: 1.17rem;
    text-transform: uppercase;
}

p, ul, ol {
    font-size: 0.94rem;
    line-height: 1.1rem;
}

/** Font-weight **/
h2, h3 {
    font-weight: 700;
}

h5 {
    font-weight: 500;
}

h4, p, ul, ol {
    font-weight: 300;
}


/*****************/
/***** OTHER *****/
/*****************/
.footer__title {
    font-family: $title-font;
    font-size: 1.2rem;
    line-height: 1.64rem;
    margin: 0px;
}