@import "../base/typography";
@import "../utils/variables";

// This file content specific scss code for the menu pages

/*** Consignes medias queries ***/

//The site is mobile-first. Here are the instructions for the media queries:
//Above 900px, display for tablets (in landscape mode).
//Above 1024px, leave blank spaces on the sides.

.img__hero {
    z-index: 2;
    width: 100%;
    height: 275px;
    box-sizing: border-box;
    object-fit: cover;
}

.pagemenu {
    z-index: 3;
    margin-top: -55px;
    border-radius: 30px 30px 0px 0px;
    padding: 30px 20px 40px 20px;
    max-width: $max-width;

    @media screen and (min-width:$extra-min-width) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .pagemenu__title {
        @include flex-row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .heart-checkbox {
            margin-right: 8%;
        }
        
    @media screen and (min-width: $min-width) {
        justify-content: center;
        .heart-checkbox {
            margin-left: 20px;
            margin-right: 0px;
        }
    }
    }

    .menu {
        h4 {
            margin-top: 40px;
            margin-bottom: 10px;
        }
        .menu__underlined {
            display: block;
            width: 40px;
            height: 3px;
            background: $tertirary-color;
        }
    }
}

.order__btn {
    @include flex-column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}