// Global variables for the whole site

/** Color **/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertirary-color: #99E2D0;
$grey-background: #F6F6F6;

/** List gradient **/
$list1: $primary-color, $secondary-color;
$list1-lighten: lighten($primary-color, 4%), lighten($secondary-color, 4%);

/** Font familly **/
$title-font: 'Shrikhand', serif;
$text-font: 'Roboto', sans-serif;